<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <title>Document</title>
    <style>
        img {
            width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="container p-5 bg-light">
            <form class="row my-5">
                <div class="col">
                    <h2>Super Calculadora</h2>
                    <p>
                        Primer Numero:
                        <input required type="number" name="num1" v-model.number="num1" class="form-control" />
                    </p>
                    <p>
                        Segundo Numero:
                        <input required type="number" name="num2" v-model.number="num2" class="form-control" />
                    </p>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="+"
                            v-model="op" checked />
                        <label class="form-check-label">
                            suma
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" value="-"
                            v-model="op"  />
                        <label class="form-check-label">
                            Resta
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios"
                            value="*" v-model="op"  />
                        <label class="form-check-label">
                            Multiplicacion
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios"
                            value="/" v-model="op"  />
                        <label class="form-check-label">
                            Division
                        </label>
                    </div>
                    <button type="button" v-on:click="getCalc()" class="btn btn-primary">Calcular</button>
                    <h5>
                        <p>Resultado = {{res}}</p>
                    </h5>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>